<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body onload = "onloadThing()">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCsYrI1oJy4zfR4Fa6sXzCf0JaOhvpWIh4",
            authDomain: "dd-data-396fe.firebaseapp.com",
            projectId: "dd-data-396fe",
            storageBucket: "dd-data-396fe.appspot.com",
            messagingSenderId: "700418487520",
            appId: "1:700418487520:web:dda1b3c337952d83264c85",
            measurementId: "G-XQB3LH1M41"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>

    <div id="mySidebar" class="sidebar">
        <!-- here add a top image in the future -->
        <!-- <div class = "brandName"><img src="{{url_for('static', filename='FILENAME.png')}}" align="middle"></div> -->
        <div class = "sidebarMenu">
            <div class = "sidebarPane"><a href="{{ url_for('home') }}">Home</a></div>
            <div class = "sidebarPane"><a href="/launch" target = "_blank">Launch</a></div>
            <div class = "sidebarPane"><a href="{{ url_for('analytics') }}">Analytics</a></div>
            <div class = "sidebarPane"><a href="#">Settings</a></div>
            <div class = "sidebarPane"><a href="#">Help</a></div>
        <div>
    </div>
    <div id = "main">
        <div class = "sectionTitle">ANALYTICS</div>
        <hr>
        <br>
        <div class = "greeting">
            <div id = "launchLink">Click on which slot you want to view analytics for.</div>
        </div>
        <br>
        <div class="content">
            <div id = "informativeContainer3">
                <div class = "i nformative">
                    <a href = "{{ url_for('graph', graphdata = 'something') }}" id = "1Link" title = "fillerOne"><span id = "1">Filler</span></a>
                    <a href = "{{ url_for('graph', graphdata = 'something') }}" id = "2Link" title = "fillerTwo"><span id = "2">Filler</span></a>
                    <a id = "3Link" title = "fillerThree" href = "{{ url_for('graph', graphdata = 'something') }}"><span id = "3">Filler</span></a>
                </div>
                <br>
            </div>
        </div>


    <div class = "rightBar">
        <!-- nothing here -->
    </div>
    <script src="{{ url_for('static', filename='App.js') }}"></script>
</body>
</html>