<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
            <!-- The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
            <!-- TODO: Add SDKs for Firebase products that you want to use
                https://firebase.google.com/docs/web/setup#available-libraries -->
            <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>
            <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
            <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCsYrI1oJy4zfR4Fa6sXzCf0JaOhvpWIh4",
                authDomain: "dd-data-396fe.firebaseapp.com",
                projectId: "dd-data-396fe",
                storageBucket: "dd-data-396fe.appspot.com",
                messagingSenderId: "700418487520",
                appId: "1:700418487520:web:dda1b3c337952d83264c85",
                measurementId: "G-XQB3LH1M41"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            </script>
        <script src="{{ url_for('static', filename='App.js') }}"></script>
    <div id="mySidebar" class="sidebar">
        <!-- here add a top image in the future -->
        <!-- <div class = "brandName"><img src="{{url_for('static', filename='FILENAME.png')}}" align="middle"></div> -->
        <div class = "sidebarMenu">
            <div class = "sidebarPane"><a href="{{ url_for('home') }}">Home</a></div>
            <div class = "sidebarPane"><a href="{{ url_for('launch') }}" target = "_blank">Launch</a></div>
            <div class = "sidebarPane"><a href="{{ url_for('analytics') }}">Analytics</a></div>
            <div class = "sidebarPane"><a href="#">Settings</a></div>
            <div class = "sidebarPane"><a href="#">Help</a></div>
        <div>
    </div>
    <div id = "main">
        <div class = "sectionTitle">HOME</div>
        <hr>
        <br>
        <div class = "greeting">Hi, Rohan.</div>
        <p class = "motivationMessage">Let's get started!</p>
        <div class = "informativeContainer" id = "informativeContainer1">
            <div class = "informative">Use the sidebar to navigate.</div>
            <br>
        </div>
        <div class = "informativeContainer" id = "informativeContainer2">
            <div class = "informative">Go to the "analytics" tab to see your past sessions and drowsiness trends.</div>
            <br>
            <div class = "informative">Go to the "launch" tab to launch the Drowsiness Detection algorithm.</div>
        </div>
        <!-- > Go to the "analytics" tab to see your past sessions and drowsiness trends. -->
<!-- > Go to the "launch" tab to launch the Drowsiness Detection algorithm. -->
        <footer>Rohan Kalia | CRTC 2021</footer>
    </div>
    <!-- > Use the sidebar to navigate -->
    <div class = "rightBar">
        <!-- nothing here -->
    </div>

</body>
</html>