<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
//                     NOTE: I am removing my personal databse info as it gives write control and therefore is a security risk on the internet. If you want to use this code, simply start your own database and plug your values into the space left I left for you. Thank you! :)
//                 apiKey:
//                 authDomain: 
//                 projectId: 
//                 storageBucket: 
//                 messagingSenderId: 
//                 appId: 
//                 measurementId: 
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>

    <div id="mySidebar" class="sidebar">
        <!-- here add a top image in the future -->
        <!-- <div class = "brandName"><img src="{{url_for('static', filename='FILENAME.png')}}" align="middle"></div> -->
        <div class = "sidebarMenu">
            <div class = "sidebarPane"><a href="{{ url_for('home') }}">Home</a></div>
            <div class = "sidebarPane"><a href="{{ url_for('launch') }}">Launch</a></div>
            <div class = "sidebarPane"><a href="{{ url_for('analytics') }}">Analytics</a></div>
            <div class = "sidebarPane"><a href="#">Settings</a></div>
            <div class = "sidebarPane"><a href="#">Help</a></div>
        <div>
    </div>
    <div id = "main">
        <div class = "sectionTitle">LAUNCH</div>
        <hr>
        <br>
        <div class = "greeting">
            <div id = "launchLink"><a href = "{{ url_for('go') }}">Click Here</a></div>
        </div>
        <p class = "motivationMessage">Tips:</p>
        <div class = "informativeContainer" id = "informativeContainer1">
            <div class = "informative">Click the link to launch the program.</div>
            <br>
            <div class = "informative">A good idea is to make sure your camera is positioned with a good view of your face.</div>
            <div class = "informative"></div>
        </div>
        <div class = "informativeContainer" id = "informativeContainer2">
            <div class = "informative">Once you launch the program, start or resume your activity.</div>
            <br>
            <div class = "informative">Once you finish your activity, navigate to the window and press "q".</div>
            <br>
            <div class = "informative">If you want to view analytics about that session, press the button and hop over to the "analytics" tab.</div>
        </div>
        <div class = "buttonDataDiv">
            <input type="text" name="title" id="titleID" value="Your Title..." />
            <button class="buttonData" onclick="addData('{{ data }}')">Upload Results!</button>
        
        </div>
        <!-- > Go to the "analytics" tab to see your past sessions and drowsiness trends. -->
<!-- > Go to the "launch" tab to launch the Drowsiness Detection algorithm. -->
    <!-- > Use the sidebar to navigate -->

    <div class = "rightBar">
        <!-- nothing here -->
    </div>
    <script src="{{ url_for('static', filename='App.js') }}"></script>
</body>
</html>
<!-- addData('{{ data }}') -->
